@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css');

*{
    margin: 0;
    padding: 0;
    outline: none;
}

body{
    margin: auto;
}

html{
    font-family: "comic Sans MS";
    font-size: 16px;
    color: #222;
    background-color: beige;
}

header{
    min-height: 100vh;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}

header>div{
    width: 80%;
    color: black;
    align-items: center;

}

header>div>*{
    margin-top: 1rem;
}

h1{
    font-size: 3rem;
}
header>div>img{
    float:right;
}

div.social a{
    color: #bbb;
    text-decoration: none;
    font-size: 2em;
    margin-right: 0.5em;
}

div.social a:hover{
    color: red;
}

div.social a span{
    display: none;
}

nav {
    box-sizing: border-box;
    position:fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    background: beige; 
    z-index: 999;
    margin: 0;

}

nav p{
    color: black;
    font-weight: bold;
    font-size: 1.2rem;
}

nav ul{
    list-style-type: none;
    display: flex;
}

nav ul a{
    color: black;
    text-decoration: none;
    margin-left: 1rem;
}

nav ul a:hover{
    color:red
}


legend{
    font-size: xx-large;
    text-align: center;
}


fieldset{
    margin-top: 70px;
    text-align: center;
    font-size:larger;
}

fieldset p{
    margin: 10px 20px;
}

img{
    float: center;
    padding-top: 30px;
    padding-bottom: 35px;
    border-radius: 60px;
    height: 200px;
    width: 300px;
}

.download-btn{
    background-color: aqua;
    color: black;
    text-decoration: none;
    border-radius: 8px;
}

.download-btn:hover{
    background-color: aquamarine;
}

embed{
    width: 500px;
    height: 300px;
}

img[src="yo1.jpg"]{
    width: 300px;
    height: 400px;
    margin-right: 100px;
}

img[src="tel2.png"]{
    width: 550px;
    height: 200px;
}

img[src="course.jpg"]{
    width: 350px;
    height: 400px;
}

img[src="plonge.jpg"]{
    width: 350px;
    height: 400px;
}

img[src="FOOT.jpg"]{
    width: 500px;
    height: 400px;
}

img[src="fca.jpeg"]{
    width: 500px;
    height: 400px;
}

ul li::before{
	margin-right: 0.5em;
	text-align: center;
}

.div_apropos {
    margin-left: 10%;
}